{% extends "mail/layout.html" %}
{% load static %}

{% block stylesheet %}
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/offcanvas/">
    <link rel="stylesheet" href="{% static 'mail/inbox.css' %}">
{% endblock %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view">
    <div class="alert alert-success" role="alert">Email has been sent successfully!</div>
        <main class="container">
            <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
                <div class="lh-1">
                <h1 class="h6 mb-0 text-white lh-1 mail_box"></h1>
                </div>
            </div>

            <div class="my-3 p-3 bg-body rounded shadow-sm">
                <h6 class="pb-2 mb-0 target">Recent Mails</h6>

            </div>
        </main>

    </div>

    <div id="compose-view">
        <div class="alert alert-danger" role="alert">This email doesn't exist in our databases!</div>
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
            <span>From: </span><input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                <span>To: </span><input id="compose-recipients" class="form-control" required>
            </div>
            <div class="form-group">
                <span>Subject: </span>
                <input class="form-control" id="compose-subject" placeholder="Subject" required>
            </div>
                <span>Body: </span>
            <textarea class="form-control" id="compose-body" placeholder="Body" required></textarea>
            <input type="submit" class="btn btn-success"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}